<div class="row mt-3">
  <div class="col-12">
    <div class="jumbotron text-center">
      <h2>Configuração</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row text-center">
      <a routerLink="usuario" class="col-6">
        <i class="fa fa-5x fa-user-circle-o"></i>
        <p class="text-center text-primary">Usuário</p>
        </a>
      <a routerLink="backup" class="col-6">
        <i class="fa fa-5x text-danger fa-database"></i>
        <p class="text-center text-danger">Backup</p>
      </a>
    </div>
  </div>
</div>