<div class="row mt-3">
  <div class="col-12">
    <div class="jumbotron text-center">
      <h2>Caixas ÓTICA SERRA DOURADA</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row text-center">
      <a routerLink="/caixas" class="col-4">
        <i class="fa fa-5x fa-list-alt"></i>
        <p class="text-center text-primary">Caixas</p>
        </a>
      <a routerLink="/caixa/cadastrar" class="col-4">
        <i class="fa fa-5x text-success fa-file-text-o"></i>
        <p class="text-center text-success">Novo caixa</p>
      </a>
      <a routerLink="/configuracao" class="col-4">
        <i class="fa fa-5x text-warning fa-cogs"></i>
        <p class="text-center text-warning">Configuração</p>
      </a>
    </div>
  </div>
</div>